{{#section 'js'}}
    <script>
        $('#forgot-register').on('submit', function(e) {
            e.preventDefault();
            console.log('dddd');
            const email = $('#email').val();
            if (email.length === 0) {
                $('#get-notice').html('You must be enter your email.');
            return;
            }

            $.getJSON('/api/user/is-exist', { email }, function (data) {
                if (!data) {
                    $('#get-notice').html('Cannot find email. Please enter again');
                } else {

                }
            return;
            })

            $('#forgot-register').off('submit').submit();
        })
    </script>
{{/section}}


<!-- Login Section Start -->
<div class="login-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            
            <!-- Login -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-login">
                    
                    <h3>Your email to reset password</h3>
                    {{!-- <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain born an will give you a complete account of the system, and expound</p> --}}
                    {{#if error_msg}}
                    {{error_msg}}
                    {{/if}}

                    {{#if success_msg}}
                    {{success_msg}}
                    {{/if}}
                    
                    {{message}}
                    <!-- Login Form -->
                    <h5 id="get-notice" style="font-weight: 600;"><span>{{notice}}</span></h5>
                    <form action="/user/forgot-pwd" method="POST" id="forgot-register">
                        <div class="row">
                            <div class="col-12 mb-30"><input name="email" id="email" type="text" placeholder="Your register email"></div>
                            <div class="col-12 mb-15">
                                
                            </div>
                            <div class="col-12"><input type="submit" value="RESET"></div>
                        </div>
                    </form>
                    
                </div>
            </div>
            
            <div class="col-md-1 col-12 d-flex">
                
                <div class="login-reg-vertical-boder"></div>
                
            </div>
            
        </div>
    </div>
</div><!-- Login Section End -->

{{> subscribe}}
