{{#section 'js'}}
    <script>
        $('#update-form').on('submit', function(e) {
            e.preventDefault();
            const oldpassword = $('#old-password').val();
            const newpassword = $('#new-password').val();
            const cfpassword = $('#confirm-password').val();

            if(oldpassword == '' && newpassword == '' && cfpassword == ''){
                return;
            }

            if(oldpassword == ''){
                $('#get-notice').html('Please enter your old password');
                return;
            }

            if(newpassword == ''){
                $('#get-notice').html('Please enter your new password');
                return;
            }

            if(newpassword.length < 8){
                $('#get-notice').html('Password length must be >= 8 character');
                return;
            }

            if(cfpassword == ''){
                $('#get-notice').html('Please confirm your new password');
                return;
            }

            if(newpassword != cfpassword){
                $('#get-notice').html('You must be confirm the right password');
                return;
            }

            $('#update-form').off('submit').submit();
        })
    </script>
{{/section}}

<!-- Login Section Start -->
<div class="login-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            
            <!-- Login -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-login">
                    
                    <h3>Update your password</h3>
                    {{!-- <p>E&E provide how all this mistaken idea of denouncing pleasure and sing pain born an will give you a complete account of the system, and expound</p> --}}
                    {{#if error_msg}}
                    {{error_msg}}
                    {{/if}}

                    {{#if success_msg}}
                    {{success_msg}}
                    {{/if}}
                    
                    {{message}}
                    <h5 id="get-notice" style="font-weight: 600;"><span>{{notice}}</span></h5>
                    <!-- Login Form -->
                    <form action="/user/update-pwd" method="POST" id="update-form">
                        <div class="row">
                            <div class="col-12 mb-30"><input id="old-password" name="oldpassword" type="password" placeholder="Old password"></div>
                            <div class="col-12 mb-30"><input id="new-password" name="newpassword" type="password" placeholder="New password"></div>
                            <div class="col-12 mb-20"><input id="confirm-password" name="cfpassword" type="password" placeholder="Confirm password"></div>
                            <div class="col-12 mb-15">
                                
                            </div>
                            <div class="col-12"><input type="submit" value="CONFIRM"></div>
                        </div>
                    </form>
                    
                </div>
            </div>
            
            <div class="col-md-1 col-12 d-flex">
                
                <div class="login-reg-vertical-boder"></div>
                
            </div>
            
        </div>
    </div>
</div><!-- Login Section End -->

{{> subscribe}}
